<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand"> MyRecipeBook </a>
    </div>
     <div class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
              <li><a href="#">RECIPE</a></li>
              <li><a href="#">SHOPPING LIST</a></li>  
         </ul>
         <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                  <!-- <li><a href="#">MANAGE</a> -->
                   <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">MANAGE <span class="caret"></span></a>                  
                  <ul class="dropdown-menu">  
                     <li><a href="#">SAVE</a></li>
                     <li><a href="#">FETCH</a></li>
                  </ul>  
             </li>                    
         </ul>
     </div>
  </div>
</nav>